* {
    margin:0;

}

nav {
    padding:20px;
    position: fixed;
}
nav ul {
    list-style-type:none;
    text-align: center;
}

nav ul li {
    display:inline-block;
}
nav li a {
    text-decoration: none;
    margin: 0px 20px;
    color:white;
    font-weight: 200;
    text-transform: uppercase;
}
@media only screen and (max-width: 240px) {
    body {
      background-color: lightgreen;
    }
}
@media only screen and (max-width: 240px) {
    body {
      background-color: lightgreen;
    }
}