

header {
    display:block;
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    background-color: violet;
    padding:10px;
}

nav a:visited {
    color: wheat;
    text-decoration: none;
}

nav >li {
    display: inline;
    padding: 0;
}

nav >ul >li  {
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
}

h1 {
    text-align: center;

}
@media only screen (min-width: 720px)

}

#welcome-section {
    height: 100hv;
}
